/*General div*/
.project-card{
    box-shadow: 0 6px 12px rgba(0,0,0,0.16), 0 6px 12px rgba(0,0,0,0.23);
    background-color: var(--color-cardbg);
    position: relative;
    overflow: hidden;
}

.project-card *{
    color: var(--color-main);
}


/*Recto*/
.project-card-recto{
    margin: 5% 5% 2%;
}

.project-card img{
    width: 90%;
    display: block;
    margin: 0 auto;
}

.project-card-info{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 24px;
}

.project-card-info-language svg{
    width: 32px;
    margin-left: 8px;
    fill: var(--color-main);
}


/*Verso*/
.project-card-verso{
    margin: 10% 10% 5%;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.project-card-verso p{
    color: rgba(255,255,255, 0.95);

}

.project-card-verso-logo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 32px;
}

.project-card-verso-logo svg{
    width: 32px;
    height: 32px;
    fill: rgba(255,255,255, 0.95);
}

/*Overlay*/
.overlay {
    visibility: hidden;
    width: 50px;
    position: absolute;
    height: 50px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform : translate(-50%, -50%);
    transition: all 0.5s ease-out;
}

/*Reveal/Unrevea*/
.project-card:hover .project-card-verso{
    visibility: visible;
}

.project-card:hover .project-card-recto{
    visibility: hidden;
}

.project-card:hover .overlay {
    transform: scale(17) translateZ(0);
    visibility: visible;
    background: rgb(238,112,61);
    background: linear-gradient(0deg, rgba(238,112,61,1) 0%, rgba(255,170,0,1) 100%);
    transition: all 0.5s ease-out;
}


@media (min-width: 0px) and (max-width: 480px) {
    .project-card-info{
        display: block;
    }

    .project-card-info-language{
        margin-top: 8px;
    }

    .project-card-info-language svg {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 8px;
        margin-left: 0;
    }

    .project-card-verso-logo svg {
        width: 24px;
        height: 24px;
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    .project-card-info{
        display: block;
    }

    .project-card-info-language{
        margin-top: 8px;
    }

    .project-card-info-language svg {
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 8px;
        margin-left: 0;
    }
}

@media (min-width: 580px) and (max-width: 750px) {
    .project-card:hover .overlay {
        transform: scale(21) translateZ(0);
    }
}

@media (min-width: 1025px) and (max-width: 1500px) {
    .project-card-info{
        display: block;
    }

    .project-card-info-language{
        margin-top: 8px;
    }

    .project-card-info-language svg {
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 8px;
        margin-left: 0;
    }

    .project-card:hover .overlay {
        transform: scale(15) translateZ(0);
    }
}

@media (min-width: 1501px) {
    .project-card:hover .overlay {
        transform: scale(15) translateZ(0);
    }
}
