.skills-icon{
    height: 45px;
    width: 45px;
    fill: var(--color-main);
}

.cardskills-title{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 40px;
}

/*not full width border + position relative above */
.cardskills-title:after{
    content: "";
    background: var(--color-orange);
    position: absolute;
    bottom: -16px;
    left: 0;
    width: 30%;
    height: 3px;
}

.cardskills-title h2{
    margin-left: 16px;
    color: var(--color-orange);
}

.skills-list li{
    color: var(--color-main);
    list-style-type: none;
    margin-bottom: 18px;
}

@media (min-width: 0px) and (max-width: 480px) {
    .skills-icon{
        height: 25px;
        width: 25px;
    }

    .cardskills-title:after{
        bottom: -8px;
        width: 20%;
        height: 3px;
    }

    .cardskills-title h2 {
        margin-left: 8px;
    }

    .skills-list li{
        margin-bottom: 12px;
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    .skills-icon{
        height: 35px;
        width: 35px;
    }

    .cardskills-title:after{
        width: 20%;
        height: 2px;
    }

}

@media (min-width: 1025px) {

}