.container-top{
    padding-top: 0;
    background-image: url("../Image/bg_orange_top.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container-top-right{
    display: flex;
    align-items: center;
    justify-content: left;
}

.container-top-right > img {
    width: 50%;
    display: block;
}


@media (min-width: 0px) and (max-width: 480px) {

}

@media (min-width: 0px) and (max-width: 849px) {
    .container-top{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .container-top > div{
        flex: 1;
    }

    .container-top-right{
        justify-content: center;
    }
}

@media (min-width: 850px) {
    .container-top{
        display: flex;
        flex-wrap: nowrap;
    }

    .container-top > div{
        flex: 1;
    }

    .wrapper-me{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        padding-left: 12%;
    }

    .container-top-right > img{
        width: 70%;
    }

}

@media (min-width: 1025px) {

}