
.column{
    padding: 12px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.column-revert{
    flex-direction: row-reverse;
}

.column > div{
    flex: 1;
    padding: 8px;
}

.logo-company{
    margin: 0 auto;
    width: 400px;
}

.card > div{
    background-color: var(--color-cardbg);
    margin: 4px;
    padding: 32px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: box-shadow 0.3s ease;
}

.card > div h2{
    color: var(--color-main);
    padding-top: 8px;
    padding-bottom: 32px;
    font-family: "Avenir";
    font-weight: 600;
    letter-spacing: 2px;
}

/*Logo + Text*/
.experience-line > *{
    display: inline;
    fill: var(--color-main);
    color: var(--color-main);;

}

.experience--icon{
    width: 18px;
    height: 18px;
    fill: var(--color-main);
    margin-right: 24px;
}

.experience-tasks{
    color: var(--color-mainhalf);
    margin-top: 2px;
}

.experience-tasks:before{
    content: "- ";
}


@media (min-width: 0px) and (max-width: 480px) {
    .logo-company{
        width: 200px;
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    .column{
        margin: 32px 24px 32px 24px;
    }

    .logo-company{
        width: 300px;
    }
}

@media (min-width: 1025px) {
    .card > div{
        max-width: 90%;
    }

    .column{
        margin: 80px 3% 80px 175px;
    }

    .card > div:hover{
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    .card > div > p{
        max-width: 80%;
    }
}