.header{
    top: 0;
    left: 0;
    width: 100%;
    min-height: 45px;
    position: fixed;
    background-color: var(--color-whitebg);
    z-index: 500;
}

.logo-header{
    position: absolute;
    top: 16px;
    width: 26px;
    height: 26px;
}

.logo-flag{
    border: var(--color-main) 2px solid;
    border-radius: 50%;
    right: 56px;
}

.logo-theme{
    fill: var(--color-main);
    right: 24px;
}

.logo-header:hover{
    cursor: pointer;
}


@media (min-width: 0px) and (max-width: 480px) {
    .header{
        box-shadow: var(--color-headersadow)
    }

}

@media (min-width: 481px) and (max-width: 1024px) {
    .header{
        box-shadow: var(--color-headersadow)
    }
}

@media (min-width: 1025px) {
    .header{
        background-color: transparent;
    }

    .logo-header{
        top: 20px;
    }
}