.menu-slider{
    display: block; /*by default and add in JS*/
    position: fixed;
    z-index: 99;
    top: 40%;
    left: 12px;
}

.menu-slider-list{
    list-style: none;
}

.menu-slider-list li{
    padding-left: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 100%;
    margin: 4px;
    color: var(--color-main);
    font-family: Avenir;

}

.menu-slider-list li:hover{
    cursor: pointer;
}


.slider-see{
    background: var(--color-orange);
    border-radius: 12px;
}

.slider-hidden{
    visibility: hidden;
}


@media (min-width: 0px) and (max-width: 480px) {
    .menu-slider{
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        background-color: var(--color-main);
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s all ease;
        text-align: center;
        font-weight: 500;
        letter-spacing: 3px;
        font-size: 2rem;
    }

    .menu-slider-list li{
        width: 40%;
        padding-left: 12px;
        padding-top: 2px;
        padding-bottom: 2px;
        margin: 4px auto;
        color: var(--color-whitebg);
    }

    .slider-hidden{
        visibility: visible;
    }

    .close{
        display: inline;
    }

}

@media (min-width: 481px) and (max-width: 1024px) {
    .menu-slider{
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        background-color: var(--color-main);
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s all ease;
        text-align: center;
        font-weight: 500;
        letter-spacing: 3px;
        font-size: 2rem;
    }

    .menu-slider-list li{
        width: 35%;
        padding-left: 12px;
        padding-top: 12px;
        padding-bottom: 2px;
        margin: 4px auto;
        color: var(--color-whitebg);
    }

    .slider-hidden{
        visibility: visible;
    }

    .close{
        display: inline;
    }
}

@media (min-width: 1025px) {
    .menu-slider-list li:hover{
        cursor: pointer;
        background: var(--color-orange);
        color: var(--color-main);
        border-radius: 12px;
    }

    .menu-slider-list li:before{
        background: var(--color-whitebg);
        content: "";
        width: 8px;
        height: 8px;
        display: inline-block; /*mandatory to change height and width*/
        position: relative;
        border: 2px solid var(--color-orange);
        border-radius: 50%;
        left: -6px;
    }


    .close{
        display: none;
    }

}