/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--color-whitebg);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-mainhalf);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-mainquarter);
}

@media (min-width: 0px) and (max-width: 480px) {
}

@media (min-width: 481px) and (max-width: 1024px) {
}

@media (min-width: 1025px) {

}