.container-top{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(12px);
}


@media (min-width: 0px) and (max-width: 480px) {
}

@media (min-width: 481px) and (max-width: 1024px) {
}

@media (min-width: 1025px) {

}