/*Orange background*/
.container-top{
    padding-top: 0;
    background-image: url("../../Image/bg_orange_top.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: nowrap;
}

.container-top > div{
    flex: 1;
}

/*Center developer image*/
.container-top-right{
    display: flex;
    align-items: center;
    justify-content: left;
}

.container-top-right > img {
    width: 50%;
    display: block;
}

/*Info about me*/
.wrapper-me{
    padding-left: 10%;
    padding-right: 10%;
}

.wrapper-me .buttonOrange{
    margin-top: 24px;
}

.wrapper-me p, .wrapper-me h1, .wrapper-me svg, .wrapper-me a{
    color: var(--color-main);
}

/*Very Small phone*/
@media (min-width: 0px) and (max-width: 380px) {
    .container-top-right > img{
        width: 50%;
    }

    .wrapper-me{
        padding-top: 64px;
        padding-left: 8%;
    }

    .wrapper-me > .buttonOrange{
        margin-top: 12px;
    }

    .me{
        padding-bottom: 12px !important;
    }
}

/*Small phone*/
@media (min-width: 381px) and (max-width: 480px) {
    .container-top-right > img{
        width: 55%;
    }

    .wrapper-me{
        padding-top: 64px;
        padding-left: 5%;
    }
}

/*Tablet*/
@media (min-width: 481px) and (max-width: 849px) {
    .wrapper-me{
        padding-top: 68px;
        padding-left: 0;
    }
}

@media (min-width: 0px) and (max-width: 849px) {
    .container-top{
        flex-direction: column;
        background-position: 37%
    }

    .container-top-left{
        display: flex;
        justify-content: center;
        align-items: center;
    }


    /*Center developer image*/
    .container-top-right{
        justify-content: center;
    }
}

@media (min-width: 850px) {
    .wrapper-me{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .container-top-right > img{
        width: 70%;
    }

}

@media (min-width: 1025px) {

}