/*Button selection experience*/
.education--button{
    width: 100%;
    text-align: center;
}

.education--button button{
    outline: none;
    text-decoration: none;
    padding: 8px;
    margin: 16px 16px;
    width: 150px;
    background: transparent;
    color: var(--color-main);
}
    /*Button education*/
.education--button-edu{
    border: solid 3px var(--color-orange);
    transition: all 0.3s ease-out;
}

.education--button-edu:hover{
    background: var(--color-orange);
    color: var(--color-whitebg);
}
    /*Button all*/
.education--button-all{
    border: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, var(--color-orange), var(--color-violet));
    transition: color 0.3s ease-out;
}

.education--button-all:hover{
    background: linear-gradient(to right, var(--color-orange), var(--color-violet));
    color: var(--color-whitebg);
}

    /*Button professional*/
.education--button-pro{
    border: solid 3px var(--color-violet);
    transition: all 0.3s ease-out;
}

.education--button-pro:hover{
    background:  var(--color-violet);
    color: var(--color-whitebg);
}

/*Timeline container*/
.timeline-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 32px 0;
}

/*Timeline*/
.timeline {
    width: 100%;
    max-width: 80%;
    padding: 75px 0 25px;
    position: relative;
}

/*Grey line*/
.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: calc(33% - 2px);
    bottom: 0;
    width: 4px;
    background: var(--color-grey);
}

.timeline:after {
    content: "";
    display: table;
    clear: both;
}



@media (min-width: 0px) and (max-width: 480px) {
    .education {
        margin-bottom: 32px;
    }

    .timeline-container{
        margin-left: 12px;
    }

    .timeline:before {
        left: -24px;
    }

    .education--button button{
        width: 120px;
        margin: 8px 8px;
    }
}

@media (min-width: 481px) and (max-width: 800px) {
    .education {
        margin-bottom: 32px;
    }

    .timeline:before {
        left: -24px;
    }
}


@media (min-width: 1025px) {
    .timeline-container {
        margin: 32px 64px 0;
    }

}