.project-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    grid-gap: 160px 160px;
    padding: 5%;
}


@media (min-width: 0px) and (max-width: 750px) {
    .project-card-container {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        grid-gap: 40px 90px;
    }
}

@media (min-width: 751px) and (max-width: 1024px) {
    .project-card-container{
        grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
        grid-gap: 40px 40px;
    }
}


@media (min-width: 1025px) and (max-width: 1500px) {
    .project-card-container{
        grid-gap: 30px 30px;
    }

}

@media (min-width: 1501px) {

}