.test-project-card{
    box-shadow: 0 6px 12px rgba(0,0,0,0.16), 0 6px 12px rgba(0,0,0,0.23);
    background-color: var(--color-cardbg);
    padding: 5% 5% 2%;
}

.test-project-card img{
    width: 90%;
    display: block;
    margin: 0 auto;
}

.test-project-card-info{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 24px;
}

.test-project-card-info-language svg{
    width: 32px;
    height: 32px;
    margin-left: 8px;
}


/*Reveal description on hover*/
.test-project-card-verso{
    display: none;
}

.test-project-card:hover .test-project-card-verso{
    display: block;
}

.test-project-card:hover .test-project-card-recto{
    display: none;
}

@media (min-width: 0px) and (max-width: 480px) {
}

@media (min-width: 481px) and (max-width: 1024px) {
}

@media (min-width: 1025px) {

}